html {
	position: relative;
}

body {
	margin-top: 30px;
	margin-bottom: 150px;
}

.jumbotron {
	background-image: url('../img/bg_jumbo.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -90px;
	color: white;
	overflow: hidden;
}

.jumbotron h1, .jumbotron p{
	text-shadow: 1px 1px 10px rgba(0,0,0,1);
}

.contact {
	min-height: 100px;
}

.jumbotron img {
	width: 300px;
	border: 5px solid #ff835e;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

hr {
	width: 200px;
	border-top: 3px solid #999;
}

section	{
	min-height: 400px;
}

.pKiri, .pKanan{
	opacity: 0;
	transform: translate(-50px, 0) rotate(15deg);
	transition: 1s;
}

.pKanan{
	transform: translate(50px, 0) rotate(-15deg);
}

.pKiri.pMuncul, .pKanan.pMuncul{
	opacity: 1;
	transform: translate(0,0);
}


.portfolio {
	background-color: #eee;
}

.portfolio .thumbnail {
	opacity: 0;
	transform: translate(0, -40px);
	transition: 0.7s;
}

.portfolio .thumbnail.muncul {
	opacity: 1;
	transform: translate(0,0);
}


footer { 
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: #333;
	padding-top: 15px; 
}

footer p{
	font-size: 1em;
	color: white;
}

footer a {
	color: #82f6ff;
}

footer p i {
	color: #f45c04;
}
